/* Footer Styles ACDC[MR] */



footer {
  background: #000;
  padding: 0;
  margin: 0;
}

.f-link-container {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  margin: 0;
  border: .5px solid #fff;
  padding: 0 0 40px;
}

@media only screen and (min-width:700px) {
  .f-nav-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0;
  }
}
.footer-wrapper {
  display: -webkit-flex;
  display: flex;
  margin: auto;
}
.f-link-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  padding: 0;
}
.f-logo-container {
  display: flex;
  align-items: start;
  justify-content: center;
  position: relative;
  z-index: 1000;
}
.f-link-header {
  padding: 20px;
  margin-bottom: 20px;
}
.f-link-container li {
  margin-left: 25px;
}
.f-link-header a {
  font-family: 'TT Commons', sans-serif !important;
  font-size: 20px !important;
}
.f-link-container:first-child {
  border-left:none !important;
}
.f-link-container:last-child {
  border-right:none !important;
}
ul.f-link-container:first-child .f-link-header {
  border-bottom: 5px solid #DEB5B5;
}
ul.f-link-container:nth-child(2) .f-link-header {
  border-bottom: 5px solid #FF40A3;
}
ul.f-link-container:nth-child(3) .f-link-header {
  border-bottom: 5px solid #EEDB75;
}
ul.f-link-container:nth-child(4) .f-link-header {
  border-bottom: 5px solid #94DEE2;
}
ul.f-link-container:nth-child(4) {
  /* border-top: 1px solid #fff; */
}
ul.f-link-container:nth-child(5) .f-link-header {
  border-bottom: 5px solid #FF40A3;
}
ul.f-link-container:nth-child(5) {
  border-top: 1px solid #fff;
}
ul.f-link-container:nth-child(6) .f-link-header {
  border-bottom: 5px solid #61A5D7;
}
ul.f-link-container:nth-child(6) {
  border-top: 1px solid #fff;
}
ul.f-link-container:nth-child(7) .f-link-header {
  border-bottom: 5px solid #FCEE72;
}
ul.f-link-container:nth-child(7) {
  border-top: 1px solid #fff;
}
ul.f-link-container:nth-child(8) .f-link-header {
  border-bottom: 5px solid #DEB5B5;
}
ul.f-link-container:nth-child(8) {
  border-top: 1px solid #fff;
}
ul.f-link-container:nth-child(9) {
  border-top: 1px solid #fff;
}
ul.f-link-container:nth-child(9) .f-link-header {
  display: none;
}
.bottom-footer-flex {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000;
  padding: 20px 25px;
  border-top: 1px solid #fff;
}

.bottom-footer-flex p, .bottom-footer-flex a {
  /* font-family: 'KansasNew', serif !important; */
  font-size: 12px;
  font-style: normal;
  font-weight: 600 !important;
  letter-spacing: 0.03em;
  text-align: left;
  color: #fff;
}
.right-footer-container {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  gap: 20px;
}
.sublink-container {
  display: -webkit-flex;
  display: flex;
  position: relative;
  z-index: 1000;
}
.sublink-container a:not(:last-child)::after {
  content: "-";
  color: #fff;
  margin: 0 10px;
}
ul.sm-icons {
  margin: 0;
}
.sm-icons:not(.password-social-links) svg {
  fill: #fff;
  height: 28px;
  width: 28px;
}
.sm-icons:not(.password-social-links) {
  position: absolute;
  bottom: 30px;
  right: 0;
  left: 0;
}
.empty-space {
  display:none;
  background: #000;
}

/* Mobile Styles */
@media screen and (max-width: 1024px) {
  .sm-icons:not(.password-social-links) svg {
    fill: #fff;
    height: 20px;
    width: 20px;
  }
  .sublink-container a:not(:last-child)::after {
    content: "-";
    color: #fff;
    margin: 0 5px;
  }
  ul.f-link-container:nth-child(9) {
    display: none;
  }
  .bottom-footer-flex {
    display:grid;
    grid-template-columns: 0.3fr 1fr .62fr;
  }
}

@media screen and (max-width: 1023px) {
  .f-nav-grid {
    height:unset;
    grid-template-rows: 1fr;
  }
  ul.f-link-container:nth-child(9) {
    display: none;
  }
  .sublink-container a {
    font-size:10.5px;
  }
}

@media screen and (max-width: 768px) {
  .bottom-footer-flex {
    display: grid;
    grid-template-columns: 0.3fr 1fr 2fr;
  } 
  .sublink-container {
    justify-content:flex-end;
  }
  .sublink-container a {
    font-size:10.5px;
  }
  .sm-icons:not(.password-social-links) svg {
    fill: #fff;
    height: 16px;
    width: 16px;
  }
  .sm-icons:not(.password-social-links) li a {
    margin:5px !important;
  }
  .f-link-header, .f-link-container li {
    text-align: left;
  }
  .f-link-wrapper {
    display: flex;
    flex-direction: column;
  }
  .f-logo-container {
    padding: 5px;
  }
  .f-logo-image {
    max-width:110px;
  }
  .bottom-footer-flex {
    flex-direction: column-reverse;
    padding:15px 25px;
  }
  .right-footer-container {
    flex-direction: column;
    margin-bottom: 20px;;
  }
}



@media screen and (max-width: 699px) {
  .accordion {
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.3s;
  }
  .accordion:after {
    font-size:30px;
    content: '\002B';
    color: rgb(255, 255, 255);
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  .active:after {
    content: "\2212";
  }
  .panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
  }
  .f-link-header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 10px;
    margin-bottom: -1px;
  }
  .f-link-container {
    padding-bottom:0px;
    border-top:none;
    border-right:none;
    border-left:none;
    border-bottom: 0px 0px 1px 0px solid #fff;
  }
  .f-link-container li{
  margin-left: 15px;
  }
  .bottom-footer-flex{
    height: auto;
    display:flex;
    flex-direction: column;
    border-top: none;
  }
  .sm-icons:not(.password-social-links) {
    position: relative;
    margin-top: 40px;
  }
  .f-logo-image {
    max-width:170px !important;
    margin-bottom:20px;
  }
  .f-link-container {
    display: flex;
    flex-direction: column;
  }
}