<script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/fVT_aqLm4_i1_3EBHBlRjg" async></script>
<div class="yotpo-widget-instance" data-yotpo-instance-id="168287"></div>
<style>
  /* custom styles - JNO acdc - 09/06/22 */

  
  .yotpo-widget-override-css .yotpo-widget-my-rewards-widget .yotpo-step-icon {
    height: 50%;
    width: 50%;
    margin: 0 auto;
  }

  .yotpo-widget-campaign-widget.yotpo-widget-override-css:focus {
    box-shadow:none !important;
  }
  .yotpo-widget-campaign-widget.yotpo-widget-override-css button:focus{
    box-shadow:0 !important;
  }

  .yotpo-widget-campaign-widget.yotpo-widget-override-css .yotpo-capsule-btn-type:focus {
    background-color:white !important;
    color:black !important;

  }

  .yotpo-widget-loyalty-page .yotpo-widget-campaign-widget.yotpo-widget-override-css .yotpo-widget-campaign-widget-container .yotpo-outer-tile {
    margin-bottom: 70px;
  }
  .yotpo-widget-campaign-widget.yotpo-widget-override-css .flexified-child.yotpo-outer-tile,

  .yotpo-widget-campaign-widget.yotpo-widget-override-css .yotpo-tile,
  .yotpo-widget-campaign-widget.yotpo-widget-override-css .yotpo-container-action-tile,
  .yotpo-widget-campaign-widget.yotpo-widget-override-css .yotpo-message-tile,
  .yotpo-widget-campaign-widget.yotpo-widget-override-css .yotpo-widget-campaign-widget-container:not(.yotpo-is-mobile) .yotpo-logged-out-tile.yotpo-overlay-tile {
      border-radius: 50%;
  }
  .yotpo-widget-campaign-widget.yotpo-widget-override-css .yotpo-headline-center-element {
    position: absolute;
    left: 50%;
    bottom: -50px;
    transform: translateX(-50%);
    width: 100%;
  }
  .yotpo-widget-campaign-widget.yotpo-widget-override-css .yotpo-description-text {
    position: absolute;
    left: 50%;
    bottom: -25px;
    transform: translateX(-50%);
    width: 100%;
    color: #000 !important;
    font-size: 20px !important;
    font-family: KansanNew !important;
    font-weight: 700;
    font-style: normal;
  }
  .yotpo-widget-campaign-widget.yotpo-widget-override-css .yotpo-tile {
    justify-content: end;
    bottom: -50px;
  }
  .yotpo-widget-campaign-widget.yotpo-widget-override-css .yotpo-title-text {
    font-size: 20px !important;
    color: #000 !important;
  }
  .yotpo-widget-campaign-widget.yotpo-widget-override-css .yotpo-completed-icon {
    display: none !important;
  }
  .yotpo-widget-campaign-widget.yotpo-widget-override-css .yotpo-action-tile {
    padding:20px !important;
  }
  @media only screen and (min-width: 1024px){
    .yotpo-widget-campaign-widget-container .flexified-wrapper:not(.flexified-mobile).flexified-items-odd .flexified-child {
      max-width: calc(33.33333% - var(--flexified-padding)*0.66);
    }
  }
  @media screen and (max-width:500px) {
    .yotpo-widget-campaign-widget.yotpo-widget-override-css .yotpo-description-text, .yotpo-widget-campaign-widget.yotpo-widget-override-css .yotpo-title-text {
    width: 200px;
    font-size: 16.5px !important;
    }
    .yotpo-widget-campaign-widget.yotpo-widget-override-css .yotpo-action-tile {
    padding:30px !important;
  }
  .yotpo-widget-campaign-widget.yotpo-widget-override-css .yotpo-logged-out-tile {
    justify-content: flex-end;
    padding: 30px;
  }
}
  /* hover */
  .yotpo-widget-campaign-widget.yotpo-widget-override-css .yotpo-campaign-switcher-wrapper:hover {
    justify-content: center;
    bottom: unset;
  }
  .yotpo-widget-campaign-widget.yotpo-widget-override-css .yotpo-campaign-switcher-wrapper:hover .yotpo-headline-center-element,
  .yotpo-widget-campaign-widget.yotpo-widget-override-css .yotpo-campaign-switcher-wrapper:hover .yotpo-description-text {
    visibility:hidden;
    position: relative;
    bottom: unset;
    transform: none;
    left: unset;
  }
  .yotpo-widget-campaign-widget.yotpo-widget-override-css .yotpo-campaign-switcher-wrapper:hover .yotpo-title-text {
    color: #fff !important;
  }
  /* completed */
  .yotpo-widget-campaign-widget.yotpo-widget-override-css .yotpo-tile-completed .yotpo-description-text { display: none; }
  .yotpo-widget-campaign-widget.yotpo-widget-override-css .yotpo-tile-wrapper-completed {
    background-image:url('https://cdn.shopify.com/s/files/1/0563/2737/2823/files/sup_rainbow-smiley.png') !important;
  }
</style>

